/* Space out content a bit */
body {
  padding-top: 20px;
  padding-bottom: 20px;
}

.navbar {
	border-bottom: 1px solid var(--light);
}

/* Everything but the jumbotron gets side spacing for mobile first views */
.newsletter,
.marketing,
.footer {
  padding-right: 15px;
  padding-left: 15px;
}

/* Remove border radius from all elements */
.btn,
.jumbotron,
.newsletter .form-control,
.marketing .card {
	border-radius: 0;
}

/* Custom page footer */
.footer {
  padding-top: 19px;
  color: #777;
  border-top: 1px solid #e5e5e5;
}

/* Customize container */
@media (min-width: 768px) {
  .container {
    max-width: 730px;
  }
}

/* Main marketing message and sign up button */
.jumbotron {
  text-align: center;
  border-bottom: 1px solid #e5e5e5;
  background-color: var(--light);
}
.jumbotron .btn {
  padding: 14px 24px;
  font-size: 21px;
}

/* Supporting marketing content */
.marketing {
  margin: 40px auto;
}

/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {
  /* Remove the padding we set earlier */
  .marketing,
  .footer {
    padding-right: 0;
    padding-left: 0;
  }
  .jumbotron {
    border-bottom: 0;
  }
}
